#Acute toxicity mouse intraperitoneal_LD50

Загружаем необходимую библиотеку

In [5]:
import pandas as pd

Данные хранятся на диске. Ссылка для доступа https://drive.google.com/file/d/18WwPBK-TOpeYAUpUG3Ov4lfbo0nnhK1o/view?usp=share_link

Загружаем датасет с данными по LD50 для мышей

In [ ]:
! gdown --id 18WwPBK-TOpeYAUpUG3Ov4lfbo0nnhK1o

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=18WwPBK-TOpeYAUpUG3Ov4lfbo0nnhK1o
To: /content/Acute Toxicity_mouse_intraperitoneal_LD50.csv
100% 6.86M/6.86M [00:00<00:00, 124MB/s]

Откроем файл с данными и посмотрим, что в нем находится

In [ ]:
data = pd.read_csv("/content/Acute Toxicity_mouse_intraperitoneal_LD50.csv")
data.head()

,TAID,Pubchem CID,IUPAC Name,SMILES,Canonical SMILES,InChIKey,mouse_intraperitoneal_LD50
0,TOX-145,785,"benzene-1,4-diol",Oc1ccc(O)cc1,Oc1ccc(O)cc1,QIGBRXMKCJKVMJ-UHFFFAOYSA-N,3.041835
1,TOX-245,5453,tris(aziridin-1-yl)-sulfanylidene-lambda5-phos...,S=P(N1CC1)(N1CC1)N1CC1,S=P(N1CC1)(N1CC1)N1CC1,FOCVUCIESVLUNU-UHFFFAOYSA-N,4.235584
2,TOX-1273,727,"1,2,3,4,5,6-hexachlorocyclohexane",ClC1C(Cl)C(Cl)C(Cl)C(Cl)C1Cl,ClC1C(Cl)C(Cl)C(Cl)C(Cl)C1Cl,JLYXXMFPNIAWKQ-UHFFFAOYSA-N,3.366732
3,TOX-1279,4091,"3-(diaminomethylidene)-1,1-dimethylguanidine",CN(C)C(=N)N=C(N)N,CN(C)C(=N)N=C(N)N,XZWYZXLIPXDOLR-UHFFFAOYSA-N,2.641604
4,TOX-1282,10364,2-methyl-5-propan-2-ylphenol,Cc1ccc(C(C)C)cc1O,Cc1ccc(C(C)C)cc1O,RECUKUPTGUEGMW-UHFFFAOYSA-N,3.311627

Установим rdkit

In [2]:
!pip install rdkit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rdkit
  Downloading rdkit-2023.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (29.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.7/29.7 MB 10.2 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rdkit) (1.22.4)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rdkit) (8.4.0)
Installing collected packages: rdkit
Successfully installed rdkit-2023.3.1

Загрузим необходимые библиотеки

In [3]:
from rdkit import Chem
from rdkit.Chem import AllChem
import numpy as np

Из базы данных нас в первую очередь интересует колонка 'SMILES'. С помощью метода Chem.MolFromSmiles переведем смайлзы в объекты rdkit

In [ ]:
mol_dataset = data['SMILES'].apply(lambda x: Chem.MolFromSmiles(x))
mol_dataset.head()

0    <rdkit.Chem.rdchem.Mol object at 0x7fed4d8593f0>
1    <rdkit.Chem.rdchem.Mol object at 0x7fed4d8591c0>
2    <rdkit.Chem.rdchem.Mol object at 0x7fed4d859230>
3    <rdkit.Chem.rdchem.Mol object at 0x7fed4d858f90>
4    <rdkit.Chem.rdchem.Mol object at 0x7fed4d859380>
Name: SMILES, dtype: object

Переведем молекулы в векторную форму. В SMILES содержится описание структуры молекулы. Фингерпринт — вектор чисел, описывающий структурный состав молекулы. Моргановский фингерпринт — это универсальный способ представления молекул в виде бинарного вектора, где после конкатенации векторов из свойств атомов применяется хэш-функция. Переведем смайлзы в моргановский фингерпринт.

In [ ]:
X = mol_dataset.apply(lambda x: np.array(list(AllChem.GetMorganFingerprintAsBitVect(x, radius=2, nBits=2048).ToBitString()), dtype=int))
X

0        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4        [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                               ...
35294    [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
35295    [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
35296    [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
35297    [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
35298    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: SMILES, Length: 35299, dtype: object

Изменим форму датасета, так чтобы каждому элементу вектора сответствовала колонка в датасете.

In [ ]:
X = pd.DataFrame(X.to_list(), columns=list(range(len(X[0]))))
X

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35294,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35295,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35296,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35297,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35298,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Напишем функцию расчета массы молекул

In [ ]:
from rdkit.Chem.Descriptors import ExactMolWt
data['mass_mol'] = mol_dataset.apply(lambda x: ExactMolWt(x))
data['mass_mol'].head()

0    110.036779
1    189.048955
2    287.860066
3    129.101445
4    150.104465
Name: mass_mol, dtype: float64

Поскольку LD50 в датасете мг\кг. Для обучения переведем это значение в ммоль\кг и возьмем от этого значения логарифм

In [ ]:
import math
data['ld_mmol'] = data['mouse_intraperitoneal_LD50']/data['mass_mol']
y = data['ld_mmol'].apply(math.log10)

Поскольку LD50 непрерывный числовой параметр, нам необходима регрессионная модель. Протестируем несколько вариантов классических регрессионных моделей. Начнем с линейной регрессии

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  mean_squared_error, r2_score

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y,
                                                    test_size=0.2, random_state=42)

model = LinearRegression().fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_val_pred_LR = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred_LR)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred_LR)))

MSE train: 0.008, test: 0.009
R^2 train: 0.716, test: 0.678

Рассмотрим вариант регрессии с деревом решений. Точность стала ниже. Модель явно переобучается

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred_DTR = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred_DTR)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred_DTR)))

MSE train: 0.000, test: 0.016
R^2 train: 0.997, test: 0.458

Рассмотрим Лассо-регрессию

In [ ]:
from sklearn.linear_model import LassoCV
model = LassoCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred_LCV = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred_LCV)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred_LCV)))

MSE train: 0.009, test: 0.009
R^2 train: 0.707, test: 0.683

Рассмотрим ридж-регрессию. Ридж-регрессия - это один из методов понижения размерности. Часто его применяют для борьбы с переизбыточностью данных, когда независимые переменные коррелируют друг с другом

In [ ]:
from sklearn.linear_model import RidgeCV
model = RidgeCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred_RCV = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred_RCV)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred_RCV)))

MSE train: 0.008, test: 0.009
R^2 train: 0.715, test: 0.683

Рассмотрим ElasticNetCV - модель эластичной сети с итеративной подгонкой по пути регуляризации.

In [ ]:
from sklearn.linear_model import ElasticNetCV
model = ElasticNetCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred_ENCV = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred_ENCV)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred_ENCV)))

MSE train: 0.009, test: 0.009
R^2 train: 0.707, test: 0.683

Поскольку у трех последних моделей одинаковая точность, запишем результаты последней модели в файл

In [ ]:
data_x_val = data[['SMILES', 'mass_mol']]
response = pd.merge(data_x_val, X_val, left_index=True, right_index=True)
response['LD50_log'] = y_val_pred_ENCV
response['LD50'] = (response['LD50_log'].apply(lambda x: 10**x))*response['mass_mol']
final = response[['SMILES', 'LD50']]
final.to_csv('response_mouse_intraperitoneal_LD50.csv', index=False)

#Acute toxicity rat intraperitoneal_LD50

https://drive.google.com/file/d/1Xus2DYXs4_-gI8O3GMqapRgk-D_4CCU2/view?usp=share_link

Загружаем датасет с данными по LD50 для крыс

In [1]:
! gdown --id 1Xus2DYXs4_-gI8O3GMqapRgk-D_4CCU2

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1Xus2DYXs4_-gI8O3GMqapRgk-D_4CCU2
To: /content/Acute Toxicity_rat_intraperitoneal_LD50.csv
100% 907k/907k [00:00<00:00, 102MB/s]

Откроем файл с данными

In [6]:
data = pd.read_csv("/content/Acute Toxicity_rat_intraperitoneal_LD50.csv")
data.head()

,TAID,Pubchem CID,IUPAC Name,SMILES,Canonical SMILES,InChIKey,rat_intraperitoneal_LD50
0,TOX-145,785,"benzene-1,4-diol",Oc1ccc(O)cc1,Oc1ccc(O)cc1,QIGBRXMKCJKVMJ-UHFFFAOYSA-N,2.811386
1,TOX-245,5453,tris(aziridin-1-yl)-sulfanylidene-lambda5-phos...,S=P(N1CC1)(N1CC1)N1CC1,S=P(N1CC1)(N1CC1)N1CC1,FOCVUCIESVLUNU-UHFFFAOYSA-N,4.373886
2,TOX-1273,727,"1,2,3,4,5,6-hexachlorocyclohexane",ClC1C(Cl)C(Cl)C(Cl)C(Cl)C1Cl,ClC1C(Cl)C(Cl)C(Cl)C(Cl)C1Cl,JLYXXMFPNIAWKQ-UHFFFAOYSA-N,3.919574
3,TOX-1279,4091,"3-(diaminomethylidene)-1,1-dimethylguanidine",CN(C)C(=N)N=C(N)N,CN(C)C(=N)N=C(N)N,XZWYZXLIPXDOLR-UHFFFAOYSA-N,2.412182
4,TOX-1281,8784,3-phenylprop-2-enoic acid,O=C(O)C=Cc1ccccc1,O=C(O)C=Cc1ccccc1,WBYWAXJHAXSJNI-UHFFFAOYSA-N,1.966614

Установим rdkit

In [ ]:
!pip install rdkit

Загрузим необходимые библиотеки

In [ ]:
from rdkit import Chem
from rdkit.Chem import AllChem
import numpy as np

Из базы данных нас в первую очередь интересует колонка 'SMILES'. С помощью метода Chem.MolFromSmiles переведем смайлзы в объекты rdkit

In [7]:
mol_dataset = data['SMILES'].apply(lambda x: Chem.MolFromSmiles(x))
mol_dataset.head()

0    <rdkit.Chem.rdchem.Mol object at 0x7fec6889ef10>
1    <rdkit.Chem.rdchem.Mol object at 0x7fec6889ec70>
2    <rdkit.Chem.rdchem.Mol object at 0x7fec6889ec00>
3    <rdkit.Chem.rdchem.Mol object at 0x7fec6889ece0>
4    <rdkit.Chem.rdchem.Mol object at 0x7fec6889ed50>
Name: SMILES, dtype: object

Переведем молекулы в векторную форму. В SMILES содержится описание структуры молекулы. Фингерпринт — вектор чисел, описывающий структурный состав молекулы. Моргановский фингерпринт — это универсальный способ представления молекул в виде бинарного вектора, где после конкатенации векторов из свойств атомов применяется хэш-функция. Переведем смайлзы в моргановский фингерпринт.

In [8]:
X = mol_dataset.apply(lambda x: np.array(list(AllChem.GetMorganFingerprintAsBitVect(x, radius=2, nBits=2048).ToBitString()), dtype=int))
X

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
4793    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4794    [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4795    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4796    [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4797    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: SMILES, Length: 4798, dtype: object

Изменим форму датасета, так чтобы каждому элементу вектора сответствовала колонка в датасете.

In [9]:
X = pd.DataFrame(X.to_list(), columns=list(range(len(X[0]))))
X

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4794,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4796,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Напишем функцию расчета массы молекул

In [10]:
from rdkit.Chem.Descriptors import ExactMolWt
data['mass_mol'] = mol_dataset.apply(lambda x: ExactMolWt(x))
data['mass_mol'].head()

0    110.036779
1    189.048955
2    287.860066
3    129.101445
4    148.052429
Name: mass_mol, dtype: float64

Поскольку LD50 в датасете мг\кг. Для обучения переведем это значение в ммоль\кг и возьмем от этого значения логарифм

In [13]:
import math
data['ld_mmol'] = data['rat_intraperitoneal_LD50']/data['mass_mol']
y = data['ld_mmol'].apply(math.log10)

Поскольку LD50 непрерывный числовой параметр, нам необходима регрессионная модель. Протестируем несколько вариантов классических регрессионных моделей. Начнем с линейной регрессии

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  mean_squared_error, r2_score

In [15]:
X_train, X_val, y_train, y_val = train_test_split(X, y,
                                                    test_size=0.2, random_state=42)

model = LinearRegression().fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred)))

MSE train: 0.006, test: 0.040
R^2 train: 0.868, test: 0.002

Рассмотрим вариант регрессии с деревом решений. Точность стала ниже. Модель явно переобучается

In [16]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred)))

MSE train: 0.000, test: 0.026
R^2 train: 0.999, test: 0.362

Рассмотрим Лассо-регрессию

In [17]:
from sklearn.linear_model import LassoCV
model = LassoCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred)))

MSE train: 0.012, test: 0.018
R^2 train: 0.718, test: 0.549

Рассмотрим ридж-регрессию. Ридж-регрессия - это один из методов понижения размерности. Часто его применяют для борьбы с переизбыточностью данных, когда независимые переменные коррелируют друг с другом

In [18]:
from sklearn.linear_model import RidgeCV
model = RidgeCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred)))

MSE train: 0.009, test: 0.017
R^2 train: 0.795, test: 0.587

Рассмотрим ElasticNetCV - модель эластичной сети с итеративной подгонкой по пути регуляризации.

In [19]:
from sklearn.linear_model import ElasticNetCV
model = ElasticNetCV()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print('MSE train: {:.3f}, test: {:.3f}'.format(
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_val, y_val_pred)))
print('R^2 train: {:.3f}, test: {:.3f}'.format(
        r2_score(y_train, y_train_pred),
        r2_score(y_val, y_val_pred)))

MSE train: 0.012, test: 0.018
R^2 train: 0.716, test: 0.550

#Carcinogenicity

https://drive.google.com/file/d/14GwAircCUX_yGTGkOP8n99vvUNsnVGK8/view?usp=sharing

Загружаем данные

In [29]:
! gdown --id 14GwAircCUX_yGTGkOP8n99vvUNsnVGK8

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=14GwAircCUX_yGTGkOP8n99vvUNsnVGK8
To: /content/Carcinogenicity_Carcinogenicity.csv
100% 140k/140k [00:00<00:00, 58.2MB/s]

Загружаем необходимую библиотеку

In [27]:
import pandas as pd

Откроем загруженный датасет

In [30]:
data_carcinogen = pd.read_csv('/content/Carcinogenicity_Carcinogenicity.csv')
data_carcinogen.head()

,TAID,Name,IUPAC Name,PubChem CID,Canonical SMILES,InChIKey,Toxicity Value
0,TOX-19,mannitol,"(2R,3R,4R,5R)-hexane-1,2,3,4,5,6-hexol",6251.0,OC[C@@H](O)[C@@H](O)[C@H](O)[C@H](O)CO,FBPFZTCFMRRESA-KVTDHHQDSA-N,0
1,TOX-28,nitroglycerin,"1,3-dinitrooxypropan-2-yl nitrate",4510.0,O=[N+]([O-])OCC(CO[N+](=O)[O-])O[N+](=O)[O-],SNIOPGDIGTZGOP-UHFFFAOYSA-N,1
2,TOX-74,NaN,"3,7-dihydropurine-6-thione",667490.0,S=c1nc[nH]c2nc[nH]c12,GLVAUDGFNGKCSF-UHFFFAOYSA-N,0
3,TOX-78,hexachlorophene,"3,4,6-trichloro-2-[(2,3,5-trichloro-6-hydroxyp...",3598.0,Oc1c(Cl)cc(Cl)c(Cl)c1Cc1c(O)c(Cl)cc(Cl)c1Cl,ACGUYXCXAPNIKK-UHFFFAOYSA-N,0
4,TOX-83,NaN,"5-fluoro-1H-pyrimidine-2,4-dione",3385.0,O=c1[nH]cc(F)c(=O)[nH]1,GHASVSINZRGABV-UHFFFAOYSA-N,0

Определим, есть ли среди данных нулевые значения. Если такие присутсвуют, их необходимо удалить до обучения

In [31]:
data_carcinogen['Canonical SMILES'].isna().sum()

12

Из базы данных нас в первую очередь интересует колонка 'SMILES'. С помощью метода Chem.MolFromSmiles переведем смайлзы в объекты rdkit

In [35]:
mol_dataset = data_carcinogen[data_carcinogen['Canonical SMILES'].notna()]['Canonical SMILES'].apply(lambda x: Chem.MolFromSmiles(x))
mol_dataset.head()

0    <rdkit.Chem.rdchem.Mol object at 0x7fec5989d4d0>
1    <rdkit.Chem.rdchem.Mol object at 0x7fec5989da10>
2    <rdkit.Chem.rdchem.Mol object at 0x7fec5989d5b0>
3    <rdkit.Chem.rdchem.Mol object at 0x7fec5989d3f0>
4    <rdkit.Chem.rdchem.Mol object at 0x7fec5989d690>
Name: Canonical SMILES, dtype: object

Переведем молекулы в векторную форму. В SMILES содержится описание структуры молекулы. Фингерпринт — вектор чисел, описывающий структурный состав молекулы. Моргановский фингерпринт — это универсальный способ представления молекул в виде бинарного вектора, где после конкатенации векторов из свойств атомов применяется хэш-функция. Переведем смайлзы в моргановский фингерпринт.

In [36]:
X = mol_dataset.apply(lambda x: np.array(list(AllChem.GetMorganFingerprintAsBitVect(x, radius=2, nBits=512).ToBitString()), dtype=int))
X

0       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
1016    [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1017    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1018    [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
1019    [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
1020    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...
Name: Canonical SMILES, Length: 1009, dtype: object

Изменим форму датасета, так чтобы каждому элементу вектора сответствовала колонка в датасете.

In [37]:
X = pd.DataFrame(X.to_list(), columns=list(range(len(X[0]))))
X

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1006,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1007,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
y = data_carcinogen[data_carcinogen['Canonical SMILES'].notna()]['Toxicity Value']
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Toxicity Value, dtype: int64

Загрузим необходимые библиотеки, разделим базу данных на базу для обучения и базу для предсказания

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

Реализуем модель дерево решений

In [42]:
from sklearn import tree
clf_tree = tree.DecisionTreeClassifier()
clf_tree.fit(X_train, y_train)
y_pred_tree = clf_tree.predict(X_val)
print(accuracy_score(y_val, y_pred_tree))

0.599009900990099

Реализуем модель рандомный лес

In [43]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier()
clf_rf.fit(X_train, y_train)
y_pred_rf = clf_rf.predict(X_val)
print(accuracy_score(y_val, y_pred_rf))

0.7029702970297029

Реализуем модель Наивный Баес

In [44]:
from sklearn.naive_bayes import GaussianNB
clf_nb = GaussianNB()
clf_nb.fit(X_train, y_train)
y_pred_nb = clf_nb.predict(X_val)
print(accuracy_score(y_val, y_pred_nb))

0.6237623762376238

Реализуем модель SGD классификатор

In [45]:
from sklearn.linear_model import SGDClassifier
clf_sgdc = SGDClassifier()
clf_sgdc.fit(X_train, y_train)
y_pred_sgd = clf_sgdc.predict(X_val)
print(accuracy_score(y_val, y_pred_sgd))

0.6039603960396039

Реализуем модель линейный SVC

In [46]:
from sklearn.svm import LinearSVC
clf_svc = LinearSVC()
clf_svc.fit(X_train, y_train)
y_pred_svc = clf_svc.predict(X_val)
print(accuracy_score(y_val, y_pred_svc))

0.6237623762376238

Поскольку рандомный лес показал наилучший результат, то запишем результаты модели рандомного в файл

In [47]:
data_x_val = data[data['Canonical SMILES'].notna()]['Canonical SMILES']
response = pd.merge(data_x_val, X_val, how ='right', left_index=True, right_index=True)
response['сarcinogen'] = y_pred_rf 
final = response[['Canonical SMILES', 'сarcinogen']]
final.to_csv('response_сarcinogen.csv', index=False)

#Endocrine Disruption NR-AR-LBD

https://drive.google.com/file/d/1yBJctOryM9ogVYCt3w7w95ovKuoNWWVW/view?usp=share_link

Загружаем данные

In [48]:
! gdown --id 1yBJctOryM9ogVYCt3w7w95ovKuoNWWVW

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1yBJctOryM9ogVYCt3w7w95ovKuoNWWVW
To: /content/Endocrine Disruption_NR-AR-LBD.csv
100% 948k/948k [00:00<00:00, 130MB/s]

Загружаем необходимую библиотеку

In [ ]:
import pandas as pd

Откроем загруженный датасет

In [ ]:
data = pd.read_csv('/content/Endocrine Disruption_NR-AR-LBD.csv')
data.head()

,TAID,Name,IUPAC Name,PubChem CID,Canonical SMILES,InChIKey,Toxicity Value
0,TOX-7,Bortezomib,[(1R)-3-methyl-1-[[(2S)-3-phenyl-2-(pyrazine-2...,387447.0,CC(C)C[C@H](NC(=O)[C@H](Cc1ccccc1)NC(=O)c1cncc...,GXJABQQUPOEUTA-RDJZCZTQSA-N,0
1,TOX-12,L-ascorbate,"(2R)-2-[(1S)-1,2-dihydroxyethyl]-3-hydroxy-5-o...",54679076.0,O=C1O[C@H]([C@@H](O)CO)C([O-])=C1O,CIWBSHSKHKDKBQ-JLAZNSOCSA-M,0
2,TOX-14,lactulose,"(2S,3R,4S,5R,6R)-2-[(2R,3S,4S,5R)-4,5-dihydrox...",11333.0,OC[C@H]1O[C@](O)(CO)[C@@H](O)[C@@H]1O[C@@H]1O[...,JCQLYHFGKNRPGE-FCVZTGTOSA-N,0
3,TOX-16,sucrose,"(2R,3R,4S,5S,6R)-2-[(2S,3S,4S,5R)-3,4-dihydrox...",5988.0,OC[C@H]1O[C@H](O[C@]2(CO)O[C@H](CO)[C@@H](O)[C...,CZMRCDWAGMRECN-UGDNZRGBSA-N,0
4,TOX-17,gluconolactone,"(3R,4S,5S,6R)-3,4,5-trihydroxy-6-(hydroxymethy...",7027.0,O=C1O[C@H](CO)[C@@H](O)[C@H](O)[C@H]1O,PHOQVHQSTUBQQK-SQOUGZDYSA-N,0

Определим, есть ли среди данных нулевые значения. Если такие присутсвуют, их необходимо удалить до обучения

In [ ]:
data['Canonical SMILES'].isna().sum()

133

Из базы данных нас в первую очередь интересует колонка 'SMILES'. С помощью метода Chem.MolFromSmiles переведем смайлзы в объекты rdkit

In [ ]:
mol_dataset = data[data['Canonical SMILES'].notna()]['Canonical SMILES'].apply(lambda x: Chem.MolFromSmiles(x))
mol_dataset.head()

[09:54:04] WARNING: not removing hydrogen atom without neighbors

0    <rdkit.Chem.rdchem.Mol object at 0x7fed5ffe49e0>
1    <rdkit.Chem.rdchem.Mol object at 0x7fed5ffe4a50>
2    <rdkit.Chem.rdchem.Mol object at 0x7fed5ffe4ac0>
3    <rdkit.Chem.rdchem.Mol object at 0x7fed5ffe4b30>
4    <rdkit.Chem.rdchem.Mol object at 0x7fed5ffe4ba0>
Name: Canonical SMILES, dtype: object

Переведем молекулы в векторную форму. В SMILES содержится описание структуры молекулы. Фингерпринт — вектор чисел, описывающий структурный состав молекулы. Моргановский фингерпринт — это универсальный способ представления молекул в виде бинарного вектора, где после конкатенации векторов из свойств атомов применяется хэш-функция. Переведем смайлзы в моргановский фингерпринт.

In [ ]:
X = mol_dataset.apply(lambda x: np.array(list(AllChem.GetMorganFingerprintAsBitVect(x, radius=2, nBits=512).ToBitString()), dtype=int))
X

0       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...
3       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
                              ...
6624    [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
6625    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
6626    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
6627    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
6628    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: Canonical SMILES, Length: 6496, dtype: object

Изменим форму датасета, так чтобы каждому элементу вектора сответствовала колонка в датасете.

In [ ]:
X = pd.DataFrame(X.to_list(), columns=list(range(len(X[0]))))
X

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6491,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6494,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y = data[data['Canonical SMILES'].notna()]['Toxicity Value']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Toxicity Value, dtype: int64

Загрузим необходимые библиотеки, разделим базу данных на базу для обучения и базу для предсказания

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

Реализуем модель дерево решений

In [ ]:
from sklearn import tree
clf_tree = tree.DecisionTreeClassifier()
clf_tree.fit(X_train, y_train)
y_pred_tree = clf_tree.predict(X_val)
print(accuracy_score(y_val, y_pred_tree))

0.9538461538461539

Реализуем модель рандомный лес

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier()
clf_rf.fit(X_train, y_train)
y_pred_rf = clf_rf.predict(X_val)
print(accuracy_score(y_val, y_pred_rf))

0.9784615384615385

Реализуем модель Наивный Баес

In [ ]:
from sklearn.naive_bayes import GaussianNB
clf_nb = GaussianNB()
clf_nb.fit(X_train, y_train)
y_pred_nb = clf_nb.predict(X_val)
print(accuracy_score(y_val, y_pred_nb))

0.5507692307692308

Реализуем модель SGDC классификатор

In [ ]:
from sklearn.linear_model import SGDClassifier
clf_sgdc = SGDClassifier()
clf_sgdc.fit(X_train, y_train)
y_pred_sgdc = clf_sgdc.predict(X_val)
print(accuracy_score(y_val, y_pred_sgdc))

0.9584615384615385

Реализуем модель линейный SVC

In [ ]:
from sklearn.svm import LinearSVC
clf_svc = LinearSVC()
clf_svc.fit(X_train, y_train)
y_pred_svc = clf_svc.predict(X_val)
print(accuracy_score(y_val, y_pred_svc))

0.9592307692307692